
terraform.tfstate.backup
terraform.tfstate
backup/WebApplication-main-30.04.2022.zip
backup/WebApplication-finishNetwork-2022-04-22.rar
backup/WebApplication-main-02.05.2022.rar
.terraform.tfstate.lock.info
.terraform/providers/registry.terraform.io/hashicorp/aws/4.1.0/windows_amd64/terraform-provider-aws_v4.1.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/null/3.1.1/windows_amd64/terraform-provider-null_v3.1.1_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/tls/3.3.0/windows_amd64/terraform-provider-tls_v3.3.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/3.0.0/windows_amd64/terraform-provider-aws_v3.0.0_x5.exe
.terraform/modules/modules.json
packer-manifest.json.lock
packer-manifest.json
manifest.json
manifest.json.lock
manifest.json
.terraform/providers/registry.terraform.io/hashicorp/local/2.2.2/windows_amd64/terraform-provider-local_v2.2.2_x5.exe
*.pem
.terraform.lock.hcl
